[database]
database\hostname=localhost
database\name=btw17
database\password=pass
database\user=vwahl
sql\ErststimmeKandidat=SELECT Vorname, Name, SUM(1Anzahl) AS Gesamtstimmen FROM 1stimme, Direktkandidaten WHERE 1stimme.D_ID = Direktkandidaten.D_ID GROUP BY 1stimme.D_ID ORDER BY SUM(1Anzahl) DESC;
sql\ErststimmeKandidatProz=SELECT Vorname, Name, SUM(1Anzahl)/(SELECT sum(1Anzahl) FROM 1stimme)*100 AS Prozent FROM 1stimme, Direktkandidaten WHERE  1stimme.D_ID = Direktkandidaten.D_ID GROUP BY 1stimme.D_ID ORDER BY Prozent DESC; 
sql\ZweitstimmePartei=SELECT P_Bezeichnung, SUM(2Anzahl) AS Gesamtstimmen FROM 2stimme, Partei WHERE 2stimme.P_ID = Partei.P_ID GROUP BY 2stimme.P_ID ORDER BY SUM(2Anzahl) DESC;
sql\ZweitstimmeParteiProz=SELECT P_Bezeichnung, SUM(2Anzahl)/(SELECT SUM(2Anzahl) FROM 2stimme)*100 AS Prozent FROM 2stimme, Partei WHERE 2stimme.P_ID = Partei.P_ID GROUP BY 2stimme.P_ID ORDER BY Prozent DESC
sql\Wahllokale=SELECT W_ID, W_Bezeichnung FROM Wahllokal;
sql\AdresseAlleWahllokale=SELECT W_ID, W_Bezeichnung, Straße FROM Wahllokal ORDER BY W_Bezeichnung;
sql\AdresseBestimmtesWahllokal=SELECT Straße, W_ID, W_Bezeichnung FROM Wahllokal WHERE W_ID = @g OR W_Bezeichnung = @g;
sql\ParteiIDUndBezeichnung=SELECT P_ID, P_Bezeichnung FROM Partei;
sql\Partei=SELECT * FROM Partei WHERE P_Bezeichnung = @p OR P_ID = @p;
sql\BestimmteParteiUndKandidat=SELECT P_Bezeichnung, Vorname, Name FROM Direktkandidaten D, Partei P WHERE D.P_ID = P.P_ID and D_ID=@k OR Name = @k;
sql\Farbe=SELECT P_Bezeichnung, Farbe FROM Partei WHERE P_bezeichnung = @f OR P_ID = @f;
sql\Kandidat=SELECT ID, Vorname, Name FROM Direktkandidaten;
sql\BestimmterKandidatUndPartei=SELECT Vorname, Name FROM Direktkandidaten D INNER JOIN Partei P on D.P_ID = P.P_ID WHERE Name=@pk OR P_ID=@pk;
sql\KandidatUndParteiOrderByKandidatAsc=SELECT Vorname, Name, P_Bezeichnung FROM Direktkandidaten D, Partei P WHERE D.P_ID = P.P_ID ORDER BY Name;
sql\ParteiUndKandidatOrderByParteiAsc=SELECT P_Bezeichnung, Vorname, Name FROM Direktkandidaten D, Partei P WHERE D.P_ID = P.P_ID ORDER BY P_Bezeichnung;
