[database]
database\hostname=localhost
database\name=btw17
database\password=pass
database\user=vwahl
sql\erststimmekandidat=SELECT Vorname, Name, SUM(1Anzahl) AS Gesamtstimmen FROM 1stimme, direktkandidaten WHERE 1stimme.D_ID = direktkandidaten.D_ID GROUP BY 1stimme.D_ID ORDER BY SUM(1Anzahl) DESC;
sql\erststimmekandidatproz=SELECT Vorname, Name, SUM(1Anzahl)/(SELECT sum(1Anzahl) FROM 1stimme)*100 AS Prozent FROM 1stimme, direktkandidaten WHERE  1stimme.D_ID = direktkandidaten.D_ID GROUP BY 1stimme.D_ID ORDER BY Prozent DESC; 
sql\zweitstimmepartei=SELECT P_Bezeichnung, SUM(2Anzahl) AS Gesamtstimmen FROM 2stimme, partei WHERE 2stimme.P_ID = partei.P_ID GROUP BY 2stimme.P_ID ORDER BY SUM(2Anzahl) DESC;
sql\zweitstimmeparteiproz=SELECT P_Bezeichnung, SUM(2Anzahl)/(SELECT SUM(2Anzahl) FROM 2stimme)*100 AS Prozent FROM 2stimme, partei WHERE 2stimme.P_ID = partei.P_ID GROUP BY 2stimme.P_ID ORDER BY Prozent DESC
